<div
      class="bg-[url('/images/bannerImage.jpg')] w-full bg-cover flex justify-center items-center bg-center bg-fixed py-10 md:py-16 lg:py-28"
    >
      <h2
        class="text-white text-5x1 md:text-6x1 lg:text-7xl text-center w-2/3 opacity-80 font-bold"
      >
        Dit hår er lige så personligt som dit fingeraftryk.
      </h2>
    </div>