<div
  id="home"
  class="bg-[url('/images/heroImage.jpg')] h-screen w-full bg-cover bg-center lg:bg-fixed flex justify-center items-center"
>
  <div class="flex flex-col justify-center items-center gap-7 w-full">
    <h1
      class="bg-white w-full text-center text-3xl md:text-5xl lg:text-7xl opacity-50 py-3 font-bold"
    >
      HAIR BY ÅRUP
    </h1>
    <h2
      class="bg-white w-full text-center text-xl md:text-2xl lg:text-3xl opacity-50 py-1"
    >
      Frisør & CND Shellac behandler
    </h2>
  </div>
</div>
