<div
  class="overlay fixed w-screen h-screen bg-black top-0 left-0 z-30 opacity-30 hidden transition-all"
>
</div>
<navbar
  class="nav font-roboto h-screen fixed top-0 right-0 w-3/4 sm:w-1/2 lg:w-1/4 bg-[#424548] shadow z-30 translate-x-[100%] transition-all"
>
  <div
    class="closeBtn rounded font-bold absolute top-2 right-2 bg-white w-12 h-12 flex gap-1 flex-col justify-center items-center opacity-50 hover:opacity-100 hover:cursor-pointer"
  >
    X
  </div>
  <a href="#home">
    <h2
      class="md:text-2xl font-bold p-5 text-[#99998E] hover:text-white hover:cursor-pointer"
    >
      Hair by årup
    </h2>
  </a>
  <ul>
    <a href="#åbningstider"
      ><li
        class="px-5 py-2 text-[#99998E] hover:bg-[#99998E] hover:text-white hover:cursor-pointer"
      >
        Åbningstider
      </li>
    </a>
    <a href="#om">
      <li
        class="px-5 py-2 text-[#99998E] hover:bg-[#99998E] hover:text-white hover:cursor-pointer"
      >
        Om
      </li>
    </a>
    <a href="#priser">
      <li
        class="px-5 py-2 text-[#99998E] hover:bg-[#99998E] hover:text-white hover:cursor-pointer"
      >
        priser
      </li>
    </a>
    <a href="#produkter">
      <li
        class="px-5 py-2 text-[#99998E] hover:bg-[#99998E] hover:text-white hover:cursor-pointer"
      >
        produkter
      </li>
    </a>
    <a href="#afbudspolitik">
      <li
        class="px-5 py-2 text-[#99998E] hover:bg-[#99998E] hover:text-white hover:cursor-pointer"
      >
        afbudspolitik
      </li>
    </a>
    <a href="#kontakt">
      <li
        class="px-5 py-2 text-[#99998E] hover:bg-[#99998E] hover:text-white hover:cursor-pointer"
      >
        kontakt
      </li>
    </a>
  </ul>
</navbar>
<div
  class="openBtn z-20 rounded fixed top-2 right-2 bg-black w-12 h-12 flex gap-1 flex-col justify-center items-center opacity-50 hover:opacity-100 hover:cursor-pointer"
>
  <div class="bg-white h-[0.15rem] w-2/4 rounded"></div>
  <div class="bg-white h-[0.15rem] w-2/4 rounded"></div>
  <div class="bg-white h-[0.15rem] w-2/4 rounded"></div>
</div>
