<div
      id="produkter"
      class="bg-white w-full flex flex-col items-center p-16 gap-y-20"
    >
      <div class="flex flex-col items-center gap-2 w-2/3">
        <h2 class="text-xl md:text-2xl lg:text-3xl font-bold">
          Mine Produkter
        </h2>
      </div>
      <div
        class="max-w-[80%] grid grid-cols-1 md:grid-cols-2 justify-items-center"
      >
        <img src="/images/portfolio-1.jpg" alt="" />
        <img src="/images/portfolio-2.png" alt="" />
        <img src="/images/portfolio-4.jpg" alt="" />
        <img src="/images/portfolio-3.jpg" alt="" />
      </div>
      <div
        id="afbudspolitik"
        class="flex flex-col items-center gap-2 w-full md:w-[80%] lg:w-2/3 mt-6 md:mt-12 lg:mt-20"
      >
        <h2 class="text-xl md:text-2xl lg:text-3xl font-bold">AFBUDSPOLITIK</h2>
        <p class="text-gray-600 text-center text-xs md:text-sm lg:text-base">
          Af respekt for mine kunder samt mit arbejde beder jeg dig venligst
          foretage eventuel afbestilling senest 24 timer før behandlingens
          start, så jeg har mulighed for at booke en ny kunde. Ved udeblivelse
          opkræves det fulde beløb af behandlingen. Ved afbud senere end 24
          timer før behandlingen, betales der 50 % af behandlingen. Det er ens
          for alle behandlinger. Afbud skal meddeles via telefon, og ikke via
          sms eller mail.
        </p>
      </div>
      <div class="flex flex-col items-center gap-2 w-full md:w-[80%] lg:w-2/3">
        <h2 class="text-xl md:text-2xl lg:text-3xl font-bold text-center">
          Ved forsinkelse til behandlinger
        </h2>
        <p class="text-gray-600 text-center text-xs md:text-sm lg:text-base">
          Hvis du kommer for sent, men behandlingen stadig kan nås indenfor den
          bestilte tid, vil jeg gøre alt, hvad jeg kan for at fuldføre
          behandlingen. Ved udeblivelse opkræves det fulde beløb af
          behandlingen. Hvis jeg ikke kan nå at fuldføre behandlingen betales
          der 100 % af behandlingens oprindelige pris.
        </p>
      </div>
      <iframe
        id="kontakt"
        class="w-full md:w-[80%] lg:w-2/3 h-[30vw] shadow rounded"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2272.6042797803893!2d11.792226680428099!3d55.27759698052474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652958ac7ca43ef%3A0x8f59d291639e702a!2sHair+By+%C3%85rup!5e0!3m2!1sda!2sdk!4v1506461020275"
      ></iframe>
    </div>